{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ trip.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}

{% block tabs %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if page == 'settings' %} active {% endif %}" data-toggle="tab" href="{{ url_for('trips.settings', id=trip.id) }}">Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page == 'hotspots' %} active {% endif %}" data-toggle="tab" href="{{ url_for('trips-hotspots.showHotspots', id=trip.id) }}">Hotspots</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page == 'matrix' %} active {% endif %}" data-toggle="tab" href="{{ url_for('trips.matrix', id=trip.id) }}">Matrix</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page == 'species' %} active {% endif %}" data-toggle="tab" href="{{ url_for('trips.species', id=trip.id) }}">Species</a>
    </li>
</ul>
{% endblock %}

{% block tabContent %}
{% endblock %}

{% endblock %}