{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}
      {% if trip.id %}
        {{ trip.name }}
      {% elif trip.parentTripId %}
        Add Secondary Trip Zone
      {% else %}
        Create Trip
      {% endif %}
      {% endblock %}
  </h1>
{% endblock %}

{% block content %}
<form method="post" action="{% if trip.id %}{{ url_for('trips.update', id=trip.id) }}{% else %}{{ url_for('trips.store') }}{% endif %}">
    <input type="hidden" name="parentTripId" value="{{ trip.parentTripId }}" />

    <div class="form-group">
        <label for="name">Location</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ trip.name }}" />
    </div>

    <div class="row">
        <div class="col">
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control" id="latitude" name="latitude" value="{{ trip.latitude }}" />
        </div>

        <div class="col">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" id="longitude" name="longitude" value="{{ trip.longitude }}" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="month">Month</label>
            <select class="form-control" id="month" name="month">
                <option value="0" {% if trip.month == 0 %}selected{% endif %}>Select</option>
                <option value="1" {% if trip.month == 1 %}selected{% endif %}>January</option>
                <option value="2" {% if trip.month == 2 %}selected{% endif %}>February</option>
                <option value="3" {% if trip.month == 3 %}selected{% endif %}>March</option>
                <option value="4" {% if trip.month == 4 %}selected{% endif %}>April</option>
                <option value="5" {% if trip.month == 5 %}selected{% endif %}>May</option>
                <option value="6" {% if trip.month == 6 %}selected{% endif %}>June</option>
                <option value="7" {% if trip.month == 7 %}selected{% endif %}>July</option>
                <option value="8" {% if trip.month == 8 %}selected{% endif %}>August</option>
                <option value="9" {% if trip.month == 9 %}selected{% endif %}>September</option>
                <option value="10" {% if trip.month == 10 %}selected{% endif %}>October</option>
                <option value="11" {% if trip.month == 11 %}selected{% endif %}>November</option>
                <option value="12" {% if trip.month == 12 %}selected{% endif %}>December</option>
            </select>
        </div>

        <div class="col">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" value="{{ trip.year }}" name="year" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="radiusKm">Radius <span title="Number of kilometers from center, to consider hotspots">&#9432;</span></label>
            <select class="form-control" id="radiusKm" name="radiusKm">
                <option value="20" {% if trip.radiusKm == 20 %}selected{% endif %}>20 km (12 mi) </option>
                <option value="30" {% if trip.radiusKm == 30 %}selected{% endif %}>30 km (19 mi) </option>
                <option value="40" {% if trip.radiusKm == 40 %}selected{% endif %}>40 km (25 mi) </option>
                <option value="50" {% if trip.radiusKm == 50 %}selected{% endif %}>50 km (31 mi) </option>
                <option value="60" {% if trip.radiusKm == 60 %}selected{% endif %}>60 km (37 mi) </option>
                <option value="70" {% if trip.radiusKm == 70 %}selected{% endif %}>70 km (43 mi) </option>
                <option value="80" {% if trip.radiusKm == 80 %}selected{% endif %}>80 km (50 mi) </option>
                <option value="90" {% if trip.radiusKm == 90 %}selected{% endif %}>90 km (56 mi) </option>
                <option value="100" {% if trip.radiusKm == 100 %}selected{% endif %}>100 km (62 mi) </option>
            </select>
        </div>

        <div class="col">
            <label for="freqMin">Minimum frequency <span title="Only show target species that are reported at this frequency or higher">&#9432;</span></label>
            <select class="form-control" id="freqMin" name="freqMin">
                {% for freq in range(5, 95, 5) %}
                <option value="{{ freq }}" {% if trip.freqMin == freq %}selected{% endif %}>{{ freq }}%</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group" style="margin-top:20px">
      <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>

<script>
    function getCoordinates(address) {
       var url = `https://nominatim.openstreetmap.org/search?format=json&limit=1&q=${encodeURIComponent(address)}`;

       fetch(url)
           .then(response => response.json())
           .then(data => {
               if (data && data.length > 0) {
                   var lat = data[0].lat;
                   var lon = data[0].lon;

                   if (lat && lon) {
                       document.getElementById('latitude').value = lat;
                       document.getElementById('longitude').value = lon;
                   }
               }
           })
           .catch(error => console.error('Error:', error));
    }

    const locationInput = document.getElementById('name');
    locationInput.addEventListener('change', function() {
        getCoordinates(this.value);
    });
</script>

{% endblock %}