{% extends 'trips/base.html' %}

{% block tabContent %}
<div class="tab-content">

    <h2>Trip Hotspots</h2>
    {% if not tripHotspots %}
        <p>No hotspots added!</p>
    {% else %}

    <table class="table">
      <thead>
        <tr>
            <th>Hotspot</th>
            <th>#AllTime</th>
            <th>#Targets <span title="Number of species with {{ trip.freqMin }}%+ frequency the month of your trip">&#9432;</span></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
         {% for hotspot in tripHotspots %}
        <tr>
          <td><a target="_blank" href="{{ 'https://ebird.org/hotspot/' + hotspot.locId }}">{{ hotspot.name }}</a></td>
            <td>{{ hotspot.numSpeciesAllTime }}</td>
            <td>
                {% if hotspot.speciesFreqUpdatedAt %}
                {{ hotspot.numSpeciesTargets }}
                {% else %}
                [<a href="javascript:void(0)" onclick="getSpeciesFreq({{ hotspot.id }}, this.parentElement)">get</a>]
                {% endif %}
            </td>
            <td>[<a href="{{ url_for('trips-hotspots.skip', id=trip.id, hotspotId=hotspot.id) }}">skip</a>]</td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <b>UNIQUE TARGETS</b>
            </td>
            <td></td>
            <td><b>{{ uniqueTargetCount }}</b></td>
            <td></td>
        </tr>
      </tbody>
    </table>
    {% endif %}

    {% if skipHotspots %}
        <h2>Skip Hotspots</h2>

        <table class="table">
          <thead>
            <tr>
                <th>Hotspot</th>
                <th>#AllTime</th>
                <th>#Targets <span title="Number of species with {{ trip.freqMin }}%+ frequency the month of your trip">&#9432;</span></th>
                <th>#Surplus <span title="Number of targets not on any of the hotspots already selected">&#9432;</span></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
             {% for hotspot in skipHotspots %}
            <tr>
              <td><a target="_blank" href="{{ 'https://ebird.org/hotspot/' + hotspot['hotspot'].locId }}">{{ hotspot['hotspot'].name }}</a></td>
                <td>{{ hotspot['hotspot'].numSpeciesAllTime }}</td>
                <td>
                    {% if hotspot['hotspot'].speciesFreqUpdatedAt %}
                    {{ hotspot['hotspot'].numSpeciesTargets }}
                    {% else %}
                    [<a href="javascript:void(0)" onclick="getSpeciesFreq({{ hotspot['hotspot'].id }}, this.parentElement)">get</a>]
                    {% endif %}
                </td>
                <td>{{ hotspot['surplusSpeciesCount'] }}</td>
                <td>[<a href="{{ url_for('trips-hotspots.visit', id=trip.id, hotspotId=hotspot['hotspot'].id) }}">visit</a>]</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}

    {% if not moreHotspots and not tripHotspots and not skipHotspots %}
        <form method="post" action="{{ url_for('trips-hotspots.findHotspots', id=trip.id) }}">
            <input type="submit" class="btn-primary" value="Find potential hotspots">
        </form>
    {% endif %}
    {% if moreHotspots %}
        <h2>Potential Hotspots</h2>

        <table class="table">
          <thead>
            <tr>
                <th>Hotspot</th>
                <th>#AllTime</th>
                <th>#Targets <span title="Number of species with {{ trip.freqMin }}%+ frequency the month of your trip">&#9432;</span></th>
                <th>#Surplus <span title="Number of targets not on any of the hotspots already selected">&#9432;</span></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
             {% for hotspot in moreHotspots %}
            <tr>
              <td><a target="_blank" href="{{ 'https://ebird.org/hotspot/' + hotspot['hotspot'].locId }}">{{ hotspot['hotspot'].name }}</a></td>
                <td>{{ hotspot['hotspot'].numSpeciesAllTime }}</td>
                <td>
                    {% if hotspot['hotspot'].speciesFreqUpdatedAt %}
                    {{ hotspot['hotspot'].numSpeciesTargets }}
                    {% else %}
                    [<a href="javascript:void(0)" onclick="getSpeciesFreq({{ hotspot['hotspot'].id }}, this.parentElement)">get</a>]
                    {% endif %}
                </td>
                <td>{{ hotspot['surplusSpeciesCount'] }}</td>
                <td>[<a href="{{ url_for('trips-hotspots.add', id=trip.id, hotspotId=hotspot['hotspot'].id) }}">add</a>]</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}

</div>

<script>
    function getSpeciesFreq(hotspotId, div) {
        div.innerHTML = '...';
        fetch('/api/trip/{{ trip.id }}/hotspot/' + hotspotId + '/get-freqs')
          .then(response => response.json())
          .then(data => {
            div.innerHTML = data;
          });
    }
</script>
{% endblock %}