{% extends 'trips/base.html' %}

{% block tabContent %}
<div class="tab-content">
    {{ matrixTable|safe }}

    <table class="table table-actions">
        <thead>
            <tr>
                {% for col in hotspotMatrix %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in hotspotMatrix.itertuples(index=False) %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </table>

</div>

<script>
    document.querySelectorAll('.userSpeciesAdd').forEach(el => el.addEventListener('click', function() {
        this.setAttribute('disabled', 'disabled');
        this.parentNode.innerHTML = '<img src="/static/images/loading.gif" width="20" height="20" />';

        fetch('/user/species/' + this.getAttribute('data-speciesid') + '/add', {
            method: 'POST',
        }).then(function(){
            window.location.reload()
        });
    }));
</script>
{% endblock %}