{% extends 'trips/base.html' %}

{% block tabContent %}
<div class="tab-content">
    <table class="table table-actions">
        <thead>
            <tr>
                <th></th>
                <th>Species</th>
                <th>X</th>
                {% for hotspot in hotspots %}
                <th>{{ hotspot | safe }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in speciesRows %}
            <tr>
                <td>{{ row['index'] }}</td>
                <td>{{ row['speciesName'] }}</td>
                <td><button type="button" class="btn btn-primary btn-sm userSpeciesAdd" data-speciesid="{{ row['speciesId'] }}">X</button></td>
                {% for freq in row['freq'] %}
                <td>{{ freq }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </table>

</div>

<script>
    document.querySelectorAll('.userSpeciesAdd').forEach(el => el.addEventListener('click', function() {
        this.setAttribute('disabled', 'disabled');
        this.parentNode.innerHTML = '<img src="/static/images/loading.gif" width="20" height="20" />';

        fetch('/user/species/' + this.getAttribute('data-speciesid') + '/add', {
            method: 'POST',
        }).then(function(){
            window.location.reload()
        });
    }));
</script>
{% endblock %}