{% extends 'trips/base.html' %}


{% block css %}
<link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
{% endblock %}


{% block tabContent %}
<div class="tab-content">
    <h2>Trip Settings [<a href="{{ url_for('trips.edit', id=trip.id) }}">Edit</a>]</h2>

  <p>
      When? {{ trip.month }}/{{ trip.year }}<br/>
  </p>

    <h3>Primary Area</h3>
    <p>
        ({{ trip.latitude }}, {{ trip.longitude }}) /
        {{ trip.radiusKm }} km
    </p>

    <div id="osm_primary" style="width:300px;height:300px"></div>

    <h3>
        Secondary Areas
        <span title="To consider additional nearby areas without including all hotspots in between, you can add secondary areas.">&#9432;</span>
    </h3>
    {% if subTrips %}
    <ul>
        {% for t in subTrips %}
        <li>
            <a href="{{ url_for('trips.edit', id=t.id) }}">{{ t.name }}</a>
            ({{ t.latitude }}, {{ t.longitude }})
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>
        <a href="{{ url_for('trips.createSub', id=trip.id) }}">Add a secondary area</a>
    </p>


</div>

<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
 var map = new L.map('osm_primary', {
    center: [{{ trip.latitude }}, {{ trip.longitude }}],
    zoom: 9
 });
 var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
 map.addLayer(layer);
</script>
{% endblock %}