{% extends 'trips/base.html' %}

{% block tabs %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="{{ url_for('trips.show', id=trip.id) }}">Hotspots</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="{{ url_for('trips.matrix', id=trip.id) }}">Matrix</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="{{ url_for('trips.species', id=trip.id) }}">Species</a>
    </li>
</ul>
{% endblock %}

{% block tabContent %}
<div class="tab-content">

    <h2>Trip Hotspots</h2>
    {% if not tripHotspots %}
        <p>No hotspots added!</p>
    {% else %}

    <table>
      <thead>
        <tr>
            <th>Hotspot</th>
            <th>#AllTime</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
         {% for hotspot in tripHotspots %}
        <tr>
          <td><a target="_blank" href="{{ 'https://ebird.org/hotspot/' + hotspot.locId }}">{{ hotspot.name }}</a></td>
            <td>{{ hotspot.numSpeciesAllTime }}</td>
            <td>[<a href="{{ url_for('trips.skip', id=trip.id, hotspotId=hotspot.id) }}">skip</a>]</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% if skipHotspots %}
        <h2>Skip Hotspots</h2>

        <table>
          <thead>
            <tr>
                <th>Hotspot</th>
                <th>#AllTime</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
             {% for hotspot in skipHotspots %}
            <tr>
              <td><a target="_blank" href="{{ 'https://ebird.org/hotspot/' + hotspot.locId }}">{{ hotspot.name }}</a></td>
                <td>{{ hotspot.numSpeciesAllTime }}</td>
                <td>[<a href="{{ url_for('trips.visit', id=trip.id, hotspotId=hotspot.id) }}">visit</a>]</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}

    {% if moreHotspots %}
        <h2>Potential Hotspots</h2>

        <table>
          <thead>
            <tr>
                <th>Hotspot</th>
                <th>#AllTime</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
             {% for hotspot in moreHotspots %}
            <tr>
              <td><a target="_blank" href="{{ 'https://ebird.org/hotspot/' + hotspot.locId }}">{{ hotspot.name }}</a></td>
                <td>{{ hotspot.numSpeciesAllTime }}</td>
                <td>[<a href="{{ url_for('trips.add', id=trip.id, hotspotId=hotspot.id) }}">add</a>]</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}

</div>
{% endblock %}