{% extends 'trips/base.html' %}

{% block tabContent %}
<div class="tab-content">
    <input type="text" id="speciesPicker" placeholder="Type to search..." data-tripid="{{ trip.id }}">
    <div id="suggestions"></div>

    {% include 'components/species-picker.html' %}

    <div id="responseDiv">
      <!-- Response will be populated here -->
    </div>

</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/speciesPicker.js') }}"></script>
<script>
document.getElementById('speciesPicker').focus();
document.addEventListener('DOMContentLoaded', function () {
  const inputField = document.getElementById('speciesPicker');
  const suggestionsContainer = document.getElementById('suggestions');

  inputField.addEventListener('input', function() {
    const query = this.value;
    if (query.length < 2) { // Only start searching when at least 2 characters are typed
      suggestionsContainer.innerHTML = '';
      return;
    }
    urlSearchParams = {
          query: query,
          tripId: this.getAttribute('data-tripid') || 0,
    }
    fetchSuggestions(inputField, suggestionsContainer, urlSearchParams, urlSearchParams);
  });

  // Event listener for keyboard navigation
  inputField.addEventListener("keydown", function(e) {
    var suggestionItems = document.getElementsByClassName("suggestion-item");
    if (e.keyCode == 40) { // If the arrow DOWN key is pressed
      currentFocus++;
      addActive(suggestionItems);
      e.preventDefault(); // Prevent the default action (scroll / move caret)
    } else if (e.keyCode == 38) { // If the arrow UP key is pressed
      currentFocus--;
      addActive(suggestionItems);
      e.preventDefault();
    } else if (e.keyCode == 13) { // If the ENTER key is pressed
      e.preventDefault();
      if (currentFocus > -1) {
        if (suggestionItems) suggestionItems[currentFocus].click(); // Simulate a click on the active item
      }
    }
  });
});
</script>
{% endblock %}

