{% extends 'base.html' %}

{% block header %}
  <h1>Account Settings ({{ user.email }})</h1>
{% endblock %}

{% block content %}

<h2>Species List</h2>
<p><i>Species on your list will be excluded from trip matrix and target counts</i></p>

<ul>
{% for species in userSpecies %}
    <li>
        <span><button type="button" class="btn btn-primary btn-sm userSpeciesRemove" data-speciesid="{{ species.id }}">X</button></span>
        {{ species.name }} [<a href="{{ url_for('user.removeSpecies', id=species.id) }}">remove</a>]
    </li>
{% endfor %}
</ul>

<script>
    document.querySelectorAll('.userSpeciesRemove').forEach(el => el.addEventListener('click', function() {
        this.setAttribute('disabled', 'disabled');
        this.parentNode.innerHTML = '<img src="/static/images/loading.gif" width="20" height="20" />';
        console.log("fetch");
        fetch('/user/species/' + this.getAttribute('data-speciesid') + '/delete', {
            method: 'POST',
        }).then(function() {
            console.log("reload");
            //reload page
            window.location.reload();
        });
    }));
</script>

{% endblock %}

