{% extends 'base.html' %}

{% block header %}
  <h1>Quick Find</h1>
{% endblock %}

{% block content %}

<div class="form-group">
        <label for="name">Location</label>
        <input type="text" class="form-control" id="name" name="name" value="" />
    </div>

    <div class="row">
        <div class="col">
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control" id="latitude" name="latitude" value="" />
        </div>

        <div class="col">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" id="longitude" name="longitude" value="" />
        </div>
    </div>

  <div class="row">
        <div class="col">
            <label for="month">Month</label>
            <select class="form-control" id="month" name="month">
                <option value="0">Select</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>

        <div class="col">
            <label for="radiusKm">Radius <span title="Number of kilometers from center, to consider hotspots">&#9432;</span></label>
            <select class="form-control" id="radiusKm" name="radiusKm">
                <option value="20">20 km (12 mi) </option>
                <option value="30">30 km (19 mi) </option>
                <option value="40">40 km (25 mi) </option>
                <option value="50">50 km (31 mi) </option>
                <option value="60">60 km (37 mi) </option>
                <option value="70">70 km (43 mi) </option>
                <option value="80">80 km (50 mi) </option>
                <option value="90">90 km (56 mi) </option>
                <option value="100">100 km (62 mi) </option>
            </select>
        </div>
  </div>

  <div class="row">
    <div class="col">
        <label for="speciesPicker">Species</label>
        <input class="form-control" type="text" id="speciesPicker" placeholder="Type to search...">
        <div id="suggestions"></div>

      {% include 'components/species-picker.html' %}

    </div>
  </div>

</div>

<div id="responseDiv">
      <!-- Response will be populated here -->
  </div>

<script src="{{ url_for('static', filename='js/geo.js') }}"></script>
<script src="{{ url_for('static', filename='js/speciesPicker.js') }}"></script>
<script>
    const locationInput = document.getElementById('name');
    locationInput.addEventListener('change', function() {
        getCoordinates(this.value);
    });
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const inputField = document.getElementById('speciesPicker');
  const suggestionsContainer = document.getElementById('suggestions');

  inputField.addEventListener('input', function() {
    const query = this.value;
    if (query.length < 2) { // Only start searching when at least 2 characters are typed
      suggestionsContainer.innerHTML = '';
      return;
    }
    speciesSearchParams = {
          query: query,
          month: document.getElementById('month').value
    }
    hotspotSearchParams = {
        month: document.getElementById('month').value,
        lat: document.getElementById('latitude').value,
        lng: document.getElementById('longitude').value,
        radiusKm: document.getElementById('radiusKm').value
    }
    fetchSuggestions(inputField, suggestionsContainer, speciesSearchParams, hotspotSearchParams);
  });

  // Event listener for keyboard navigation
  inputField.addEventListener("keydown", function(e) {
    var suggestionItems = document.getElementsByClassName("suggestion-item");
    if (e.keyCode == 40) { // If the arrow DOWN key is pressed
      currentFocus++;
      addActive(suggestionItems);
      e.preventDefault(); // Prevent the default action (scroll / move caret)
    } else if (e.keyCode == 38) { // If the arrow UP key is pressed
      currentFocus--;
      addActive(suggestionItems);
      e.preventDefault();
    } else if (e.keyCode == 13) { // If the ENTER key is pressed
      e.preventDefault();
      if (currentFocus > -1) {
        if (suggestionItems) suggestionItems[currentFocus].click(); // Simulate a click on the active item
      }
    }
  });
});

</script>

{% endblock %}
